<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    {{>header}}

    <p>This is about page</p>

    {{>footer}}
</body>

</html>