<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src='../public/js/app.js'></script>
</head>

<body>
    {{>header}}

    <p>This is help page</p>

    {{>footer}}
</body>

</html>